<h2>privacy policy</h2>
<h3>about</h3>
<p>This privacy policy discloses the privacy practices for the Amazon Alexa skill "good food "
submitted to the <a href="https://alexatechforgood.devpost.com">Alexa SKills Challenge: Tech for good</a>.</p>
<p>This privacy policy applies solely to information collected by this software. </p>
<p>It will notify you of the following: </p>
<ul>
<li>what personally identifiable information is collected from you through 
the use of the skill, how it is used and with whom it may be shared. </li>
<li>what choices are available to you regarding the use of your data. </li>
<li>the security procedures in place to protect the misuse of your information. </li>
<li>how you can correct any inaccuracies in the information. </li>
</ul>
<h3>information collection, use, and sharing</h3>
<p>The only information this skill can collect and store is whether a user recycles or not. This 
 information is collected voluntarily and only by the act of the user explicitly
 using this feature of the skill. No personal or identifiable information are stored or shared 
 via the use of this skill.</p>
<p>The skill needs the user's permission to access their Amazon Echo device's location, with the sole
purpose of finding recycling bins in close proximity. The address or any other location information
are not stored in any way in any infrastructure by the software. Address information is used for
on-the-fly proximity queries and gets discared after the generation of the response by the skill.</p>
<p>We are the sole owners of the information collected by this skill. </p>
<h3>your access to and control over information</h3>
<p>You may opt out of any future contacts from us at any time. 
You can do the following at any time by de-listing the Alexa skill from all of your devices.</p>
<h3>security</h3>
<p>We take precautions to protect your information. 
When you submit sensitive information via the Alexa service, your information 
is protected both online and offline. </p>
<h3>updates</h3>
<p>Our Privacy Policy may change from time to time and all updates will be posted on this page. </p>
<p>If you feel that we are not abiding by this privacy policy, you should contact us immediately via email at hello@versantus.co.uk.</p>